<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegistrationUser</servlet-name>
		<display-name>RegistrationUser</display-name>
		<description></description>
		<servlet-class>user.profile.servlets.RegistrationUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<display-name>AuthenticationServlet</display-name>
		<description></description>
		<servlet-class>user.profile.servlets.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestAuth</servlet-name>
		<display-name>TestAuth</display-name>
		<description></description>
		<servlet-class>user.profile.TestAuth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataUserEditedServlet</servlet-name>
		<display-name>DataUserEditedServlet</display-name>
		<description></description>
		<servlet-class>user.profile.servlets.DataUserEditedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessingAddedParticipantServlet</servlet-name>
		<display-name>ProcessingAddedParticipantServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.ProcessingAddedParticipantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreatingNewRequestServlet</servlet-name>
		<display-name>CreatingNewRequestServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.CreatingNewRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceivingAllRequests</servlet-name>
		<display-name>ReceivingAllRequests</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.ReceivingAllRequests</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletingParticipantServlet</servlet-name>
		<display-name>DeletingParticipantServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.DeletingParticipantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceivingRequestsForParticipantsServlet</servlet-name>
		<display-name>ReceivingRequestsForParticipantsServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.ReceivingRequestsForParticipantsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceivingRequestsForAuthorServlet</servlet-name>
		<display-name>ReceivingRequestsForAuthorServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.ReceivingRequestsForAuthorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuestRequestsForParametersServlet</servlet-name>
		<display-name>QuestRequestsForParametersServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.QuestRequestsForParametersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<display-name>TestServlet</display-name>
		<description></description>
		<servlet-class>request_for_help.servlets.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationUser</servlet-name>
		<url-pattern>/RegistrationUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/AuthenticationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestAuth</servlet-name>
		<url-pattern>/TestAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataUserEditedServlet</servlet-name>
		<url-pattern>/DataUserEditedServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessingAddedParticipantServlet</servlet-name>
		<url-pattern>/ProcessingAddedParticipantServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatingNewRequestServlet</servlet-name>
		<url-pattern>/CreatingNewRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceivingAllRequests</servlet-name>
		<url-pattern>/ReceivingAllRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletingParticipantServlet</servlet-name>
		<url-pattern>/DeletingParticipantServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceivingRequestsForParticipantsServlet</servlet-name>
		<url-pattern>/ReceivingRequestsForParticipantsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceivingRequestsForAuthorServlet</servlet-name>
		<url-pattern>/ReceivingRequestsForAuthorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuestRequestsForParametersServlet</servlet-name>
		<url-pattern>/QuestRequestsForParametersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
</web-app>
